* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::before {
  box-sizing: border-box
}

*::after {
  box-sizing: border-box
}

.page {
  background:  #FFFFFF;
}
.header{
  background:  #F1F0EE;

   .logo{
     display: flex;
     align-items: center;
     > span{
       margin-left: 16px;
       color:dodgerblue;
       font-size: 52px;
     }
   }
}

