* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::before {
  box-sizing: border-box
}

*::after {
  box-sizing: border-box
}

.pages {


}

img {
  background: dodgerblue;
  width: 120px;
}